/depp.x
/interface/functions.x
#depp_src/doxygen/

depp_src/depp2\.layout
depp_output/*

depp_src/ToDo\.txt

*.o

depp_src/obj/Debug/

depp_src/depp2\.depend

interface/C\+\+/fitness\.x

interface/Fortran2008/compile_functions\.sh~

interface/Fortran2008/fitness\.x

interface/Fortran2008/compile\.sh~

interface/Functions/fitness\.x

interface/Functions/compile\.sh~

help\.txt
